[Desktop Entry]
Name=SDL2 Demo
Comment=An SDL2 demo application
Exec=bin/run.sh
Icon=ubuntu-touch-sdl-template.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
